.container {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

li span {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #0062cc;
}
